<html>
    <head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>Cameron's ML Blog</title>
        {% endif %}
    </head>
    <body>
<div>
            Cameron's Blog:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %} <!-- only True when user isnt logged in -->
            <a href="{{ url_for('login') }}">Login</a> <!-- use url_for as would have to change url's manually otherwise -->
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a> <!-- this is conditional, only one of login/logout will show -->
            <a href="{{ url_for('user', username = current_user.username) }}">MyPage</a> <!-- second arugment is for dynamic route -->
            {% endif %}
            <a href="{{ url_for('explore') }}">Explore</a>


        </div>
        <hr>
        <!-- for loop to append message to list (will change later) -->
        <!-- with construct needed to assign var -->
        {% with messages = get_flashed_messages() %}
        <!-- if message has some content -->
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
</ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>